@import '../../../../../../src/styles';

:host {
    overflow-y: auto;
    display: block;
    height: calc(100% - 50px);

    ul {
        padding-left: 30px;
    }
}

.search-results-wrapper {
    max-height: 400px;
    overflow: auto;
    
    .search-results-title {
        position: sticky;
        top: 0;
        z-index: 1;
        @include themes() {
            background-color: theme(backgroundColor);
          }
    }
}


.search-results {
    padding-left: 20px;
    
    li {
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 1px 3px 2px 2px;
        transition: margin 0.2s ease, border-color 0.3s ease;

        .midday-badge, .evening-badge {
            transform: scale(0.65);
            font-size: inherit;
            width: 22px;
            padding-left: 0;
            padding-right: 0;
            margin-right: 3px;
        }

        &.selected-event {
            border-color: #ffc107;
            margin-left: 10px;
        }
    }
}

.midday-badge {
    background-color: rgb(33, 150, 243);
}

.evening-badge {
    background-color: rgb(76, 175, 80);
}