<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="pb-md-3">
        <div class="pt-2">
          <span class="badge text-white mr-2 midday-badge">Midday</span>
          <span class="badge text-white evening-badge">Evening</span>
        </div>
        <tt-calendar [events]="lottoEvents"></tt-calendar>
      </div>
    </div>
    <div class="col-lg-4" *ngIf="lottoSearchGroup != null">
      <div class="pb-4">
      <div class="d-lg-block d-none mb-3 mt-4">
        <span class="btn btn-primary clickable mr-3" (click)="getLatest()">Get Latest</span>
        <span class="btn btn-danger clickable" (click)="getStatistics()">Get Statistics</span>
      </div>
      <ng-container *ngIf="!showAdd">
      <form [formGroup]="lottoSearchGroup">
        <div class="form-group">
          <label class="theme-text">Number</label>
          <input class="form-control" formControlName="number" />
        </div>
              <div class="btn-group w-100" role="group">
                <button type="button" class="btn" [ngClass]="{'theme-button-outline' : lottoSearch.playType.value !== 1, 'theme-button' : lottoSearch.playType.value === 1}" (click)="searchBox()">Box</button>
                <button type="button" class="btn" [ngClass]="{'theme-button-outline' : lottoSearch.playType.value !== 2, 'theme-button' : lottoSearch.playType.value === 2}" (click)="searchStraight()">Straight</button>
              </div>
            </form>
            <ng-container *ngIf="!lottoSearch.playType.value">
              <h3 class="mt-4 theme-text">Top Numbers</h3>
              <div class="row mb-4">
                <div class="col-6">
                  <h6 class="theme-text">Numbers (Midday)</h6>
                  <ul>
                    <li *ngFor="let result of statisticsLottoJSON.numbersMidday | slice:0:5" class="theme-text">
                      <span class="theme-text">{{result.number + ' - Count ' + result.count}}</span>
                    </li>
                  </ul>
                  <h6 class="theme-text">Numbers (Evening)</h6>
                  <ul>
                    <li *ngFor="let result of statisticsLottoJSON.numbersEvening | slice:0:5" class="theme-text">
                      <span class="theme-text">{{result.number + ' - Count ' + result.count}}</span>
                    </li>
                  </ul>
                </div>
                <div class="col-6">
                  <h6 class="theme-text">Win4 (Midday)</h6>
                  <ul>
                    <li *ngFor="let result of statisticsLottoJSON.win4Midday | slice:0:5" class="theme-text">
                      <span class="theme-text">{{result.number + ' - Count ' + result.count}}</span>
                    </li>
                  </ul>
                  <h6 class="theme-text">Win4 (Evening)</h6>
                  <ul>
                    <li *ngFor="let result of statisticsLottoJSON.win4Evening | slice:0:5" class="theme-text">
                      <span class="theme-text">{{result.number + ' - Count ' + result.count}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </ng-container>
            <div class="border rounded mt-3 px-3 pb-3 search-results-wrapper" *ngIf="lottoSearch.playType.value">
              <div class="row search-results-title">
                <div class="col-9">
                  <h3 class="mb-0 py-2 theme-text">Results</h3>
                </div>
                <div class="col-3">
                  <h3 class="mb-0 py-2 theme-text text-right">({{lottoSearchResults.length}})</h3>
                </div>
              </div>
            <ol class="mb-0 search-results pt-1">
              <li *ngFor="let event of lottoSearchResults" class="theme-text clickable" (click)="setCalendar(event)" [class.selected-event]="event === selectedEvent">
                <span class="theme-text">
                  <span class="badge" [class.midday-badge]="event.meta?.midday" [class.evening-badge]="!event.meta?.midday">{{event.meta?.midday ? 'M' : 'E'}}</span>{{event.startDate | date}} - {{event.title}} 
                </span>
              </li>
            </ol>
            </div>
      </ng-container>
      </div>
    </div>
  </div>
</div>