@import './functions.scss';
@import './variables.scss';
@import './mixins.scss';


.calendar-header, th {
  @include themes() {
    background-color: theme(backgroundColor);
  }
}

.calendar-header {
  .calendar-nav-button {  
    @include themes() {
      color: theme(buttonTextColor);
      border-color: theme(buttonTextColor);
      background-color: theme(buttonBGColor);
    }
  
    &:hover {
      @include themes() {
        color: theme(buttonTextHoverColor);
        border-color: theme(buttonBGHoverColor);
        background-color: theme(buttonBGHoverColor);
      }
    }
  }
  
  .calendar-title {
    @include themes() {
      color: theme(textColor) !important;
    }
  }
}

.calendar-table {
  td, th {
    @include themes() {
      color: theme(textColor);
    }
  }

  tbody td {    
    div {  
      &.selected-day {
        border-color: #ffc107 !important;
        background-color: rgba(255, 193, 7, 0.4);
      }
  
      &:not(.selected-month) {
        @include themes() {
          color: rgba(theme(textColor), 0.4) !important;
        }
      }

      span {
        &.additional-events {
          background-color: #bbb;
        }
      }
    }

  }
}
