<ng-container *ngIf="calendar">
  <div class="row calendar-header pt-2">
    <div class="col">
      <span class="calendar-title">
        <!-- Month -->
        <ng-container *ngIf="!month || month && month.disabled">
          <span (click)="editMonth(monthControl)">{{calendar.monthString}} </span>
        </ng-container> 
        <select [formControl]="month" class="calendar-input" [class.d-none]="!(month && month.enabled)"
         (blur)="hideMonthYear()" #monthControl>
            <option [value]="i" *ngFor="let m of Calendar.monthNames; index as i">{{m}}</option>
        </select>
        <!-- Year -->
        <ng-container *ngIf="!year || year && year.disabled">
          <span (click)="editYear(yearControl)">{{calendar.year}}</span>
        </ng-container>
        <input [formControl]="year" [class.d-none]="!(year && year.enabled)" class="calendar-input" 
        (blur)="hideMonthYear()" #yearControl />
      </span>
    </div> 
    <div class="col text-right">
      <span class="calendar-nav-button previous" (click)="calendar.prevMonth()" *ngIf="calendar.canMovePrev">&larr;</span>
      <span class="calendar-nav-button ml-4 mr-4" (click)="calendar.today()">Today</span>
      <span class="calendar-nav-button next" (click)="calendar.nextMonth()" *ngIf="calendar.canMoveNext">&rarr;</span>
    </div>
  </div>
      
  <table class="table calendar-table">
    <thead>
      <tr>
        <th *ngFor="let day of Calendar.daysOfWeek">{{day}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of calendar.weeks">
        <td *ngFor="let day of week">
          <div [ngClass]="{'selected-month' : day.month === calendar.month, 'selected-day': day.date === calendar.selectedDay}">
            <span class="day">{{day.day}}</span>
          <ng-container *ngFor="let event of day.events; index as i;">
            <span class='text-center event' [style.background-color]="'rgb('+event.color.x+','+event.color.y+','+event.color.z+')'" *ngIf="day.events.length <= 4 || (day.events.length > 4 && i < 3)">{{event.title}}</span>
          </ng-container>
            <span *ngIf="day.events.length > 4" class="additional-events">View {{day.events.length - 4}} Other Events</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>  
</ng-container>