$colors: (
  darkgrey: #323232,
  yellow: #ffc107,
  white: #ffffff
);

/* Defines A Map of Maps */
$themes: (
  light: (
    backgroundColor: color(white),
    textColor: color(darkgrey),
    borderColor: color(darkgrey),
    buttonTextColor: color(darkgrey),
    buttonTextHoverColor: color(white),
    buttonBGColor: transparent,
    buttonBGHoverColor: color(darkgrey)
  ),
  dark: (
    backgroundColor: color(darkgrey),
    textColor: color(white),
    borderColor: color(yellow),
    buttonTextColor: color(yellow),
    buttonTextHoverColor: color(darkgrey),
    buttonBGColor: transparent,
    buttonBGHoverColor: color(yellow)
  ),
);

$breakpoints: (
    phone:        400px,
    phone-wide:   480px,
    phablet:      560px,
    tablet-small: 640px,
    tablet:       768px,
    tablet-wide:  1024px,
    desktop:      1248px,
    desktop-wide: 1440px
);

/* webkit moz ms */
$prefixes: (
  transform: (webkit ms),
  transition: (webkit o)
);
